.key-messages-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--tui-spacing-large);

    .key-message {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: var(--tui-width-separator-thin) solid var(--tui-color-separator);
        border-radius: var(--tui-border-radius-medium);
        padding: var(--tui-spacing-large);
        gap: var(--tui-spacing-medium);

        .order {
            display: flex;
            align-items: center;
            align-self: flex-start;
            justify-content: center;
            color: var(--tui-color-brand);
            font-family: var(--tui-font-family-heading);
            font-size: var(--tui-font-size-extra-large);
        }

        .paragraph {
            max-width: 100%;
        }
    }
}
